div.tab {
  overflow: hidden;
  width: 68%;
  margin: 0 auto;
  display: flex;
}

div.tab a {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10%;
  padding: 14px 0;
  transition: 0.3s;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 16px;
  border-bottom: 3px solid transparent;
}

div.tab a:hover {
  color: $cbd;
}

div.tab a.active {
  font-weight: bold;
  border-bottom-color: $cbd;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent.open{
  // width: 75%;
  display: block;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; 
}
.description{padding: 0 16%;}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}