extends layout

block content
  .banner.banner__main
    h2.inner_title
      span.color-brand.font-large(style="color: #ff8800;font-size: 46px;display: block; margin: auto;")= title
  .inner
    form.form(action="/contact" method="POST")
      label(for="name") Name
      input(id="name" name="name")
      label(for="email") Email Address
      input(id="email" type="email" name="email")
      label(for="message") Message
      textarea(id="message" name="message")
      input.button(type="submit" value="Contact →")