extends layout

include mixins/_storeCard
include mixins/_promotedStoreCard

block content
  .inner
    h2= title
    if top.length > 0
      .stores
        each store in top
          +storeCard(store.store)
        if banner
          .promoted
            +promotedStoreCard(banner.store)
        if bottom.length > 0
          each store in bottom
            +storeCard(store.store)
    else
      p No stores found