extends layout

include mixins/_storeCard
include mixins/_promotedStoreCard

block content
  .inner
    h2= title
    .stores
      each store in stores
        +storeCard(store)
        if store === stores[2]
          if promoted && promoted.store
            .promoted
              +promotedStoreCard(promoted.store)