extends layout

include mixins/_storeCard
include mixins/_promotedStoreCard
include mixins/_pagination

block content
  .inner
    h2= title
    .stores
      each p in promoted
        +promotedStoreCard(p.store)
      each store in stores
        +storeCard(store)