extends layout

include mixins/_storeCard
include mixins/_pagination

block content
  .banner.banner__main
    h2.inner_title
      span.font-bold(style="font-weight: 900;display: block; margin: auto;")= title
  .inner
    .stores
      each store in stores
        +storeCard(store)
    if (page)
      +pagination(page, pages, count)
