header.top {
    background-color: #383d43;
    color: #fff;
}
.registration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    a {
    margin: 0 1em;
    padding: 1.2rem 2rem 1rem 2rem;
    font-size: 14px;
    text-transform: uppercase;
    color: #ff8800;
    background-color: transparent;
    border: 1px solid #ff8800;
    border-radius: 6px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
      align-self: auto;
  }
}
.nav {
  display: flex;
  list-style: none;
  max-width: 1210px;
  margin: auto;
  padding: 0;
  justify-content: space-between;
  .btn-toggler{
    align-self: center;
  }
  &__section {
    display: flex;
    ul{
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &--search {
      flex: 1 1 auto;
    }
    &--pages{
      
      li.nav__item:not(:last-child):after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background-color: $brand-orange;
      }
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  &__link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 1.2rem 2rem 1rem 2rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    transition: transform 0.2s;
    border-bottom: 5px solid transparent;
    svg {
      width: 16px;
      height: 17px;
      transition: all 0.2s;
      fill: #a6a8ab;
      margin-bottom: 1rem;
    }
    &:hover, &--active {
      border-bottom-color: rgba(0,0,0,0.2);
      border-right-color: rgba(0,0,0,0.05);
      color: #FFF;
      svg {
        fill: #FFF;
        transform: scale(1.2)
      }
      background: $cbd;
      // background: none;
      &-st0,&-st1 {
        fill: #fff;
      }
    }
    &--logo {
      width: 190px;
      background: $cbd;
      svg { fill: #FFF; }
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 107px;
        height: 63px;
        margin: 0;
      }
    }
  }
  &__btn{
    margin: 0 1em;
    padding: 1.2rem 2rem 1rem 2rem;
    font-size: 14px;
    text-transform: uppercase;
    color: $cbd;
    background-color: transparent;
    border: 1px solid $cbd;
    border-radius: 6px;
    transition: 0.3s;
    &:hover, &--active{
      color: #fff;
      background-color: $cbd;
      transition: 0.3s;
    }
  }
}
.btn-toggler{
    width: 30px;
    height: 30px;
    position: relative;
    padding: 3px;
    border: 0;
    background-color: transparent;
    display: none;
    span{
      display: inline-block;
      width: 24px;
      height: 3px;
      background: orange;
      position: absolute;
      top: 8px;
      left: 3px;
      transition: 0.3s;
      &:nth-child(2) {
          top: 14px;
      }
      &:nth-child(3) {
          top: 20px;
      }
    }
    &.active{
      span{
        &:nth-child(1){
          transform: rotate(45deg)translate(4px, 3px);
        }
        &:nth-child(2){
          transform: translateX(-24px);
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg)translate(5px, -5px);
        }
      }
    }
    &:focus, &:active{outline: 0;}
  }

@media all and (max-width: 1200px) {
  .nav {
    &__link {
      padding-left: 1rem;
      padding-right: 1rem;
      svg {
        width: 30px;
      }
      &--logo {
        svg {
          width: 100px;
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .nav {
    flex-wrap:wrap;
    &__section {
      order: 1;
      &--search {
        border-top: 1px solid rgba(255,255,255,0.1);
        order: 2;
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 650px) {
  .nav {
    &__section {
      width: 100%;
      &--user {
        order: -1;
        // border-bottom: 1px solid rgba(255,255,255,0.1);
        .avatar {
          min-width: 20px;
          height: 20px;
        }
        svg {
          display: none;
        }
      }
    }
    &__item {
      // width: 33.333333%;
    }
    &__link {
      // width: 100%;
      svg {
        // width: 5px;
        max-width: 100%;
      }
      &--logo {
        svg {
          width:100%;
        }
      }
    }
  }
  .heart-count:before {
    content: '♥️';
    margin-right: 1rem;
  }
}
